.WillayaInformation {
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 65, 65);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.WillayaInformation:hover {
  transform: scale(1.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.WillayaInformation .top {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
}

.WillayaInformation .rest {
  display: none;
  list-style: none;
  padding: 0.5rem;
}

.show {
  display: block !important;
}

.WillayaInformation .code {
  background: rgb(40, 149, 185);
  color: white;
  padding: 0 0.25rem;
  align-self: flex-start;
}

.WillayaInformation .name {
  flex: 1;
  padding: 0 0.25rem;
  color: rgb(173, 173, 173);
  text-align: center;
}

.WillayaInformation .rest .item {
  display: flex;
  font-size: 14px;
  color: white;
}
