.WillayaInformation{
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 65, 65);
}

.WillayaInformation .top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.WillayaInformation .rest {
  display: none;
}

.WillayaInformation .code {
  background: rgb(40, 149, 185);
  color: white;
  padding: 0 .25rem;
} 

.WillayaInformation .name {
  padding: 0 .25rem;
  color: rgb(145, 145, 145);
}